<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="layout :: htmlhead"></head>

<body>
	<div th:replace="layout :: navbar"></div>
	<main class="container my-5">
		<h1 class="mb-4">Produto</h1>
		<form th:action="@{/admin/products}" th:object="${produto}" method="post" class="row g-3">
			<div class="col-md-6">
				<div class="form-floating mb-3">
					<input type="text" name="nome" id="nome" th:field="*{nome}" class="form-control" placeholder="Nome">
					<label for="nome" class="form-label">Nome</label>
				</div>
				<div class="form-floating mb-3">
					<input type="text" name="preco" id="preco" th:field="*{preco}" class="form-control"
						placeholder="Preço">
					<label for="preco" class="form-label">Preço</label>
				</div>
				<div class="form-floating mb-3">
					<input type="text" name="precoAnterior" id="precoAnterior" th:field="*{precoAnterior}"
						class="form-control" placeholder="Quantidade em estoque">
					<label for="precoAnterior" class="form-label">Quantidade em estoque</label>
				</div>
				<div class="form-check form-switch mb-3">
					<input class="form-check-input" name="promocao" type="checkbox" role="switch" id="promocaoSwitch"
						th:field="*{promocao}">
					<label class="form-check-label" for="promocaoSwitch">Em estoque</label>
				</div>
			</div>
			<div class="col-md-6 mx-auto">
                <h2>Upload Image Example</h2>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="image" accept="image/*" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload image</button>
                </form>
                <span th:if="${msg != null}" th:text="${msg}"></span>
            </div>
			<div class="col-12 d-flex justify-content-end">
				<a href="#" class="btn btn-outline-secondary me-2">Voltar</a>
				<button type="submit" class="btn btn-primary">Enviar</button>
			</div>
		</form>
	</main>
	<footer th:replace="layout :: footer">(footer)</footer>
</body>

</html>